:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: red;
  text-decoration: inherit;
}
a:hover {
  color: red;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
select{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a09;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: red;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.itemList{
 
display: grid;
grid-template-columns: 400px 400px 400px;
}
.item{
  padding: 10%;
  border:red 2px solid;
  margin: 7px;
  
  /* border-color: #646cff; */
}
.listOption{
  display: flex;
  justify-content:center;
}
.listOption>button{
  padding: 10px;
  border:red 1px solid;
  border-radius: 20px;
  margin: 5px;
}
.listOption>select{
  padding: 10px;
  border:red 1px solid;
  border-radius: 20px;
  margin: 5px;
}
.item>.btnDiv{
  display: grid;
  
  grid-template-columns:100px 100px ;

  text-align: center;
  margin-left: 15%;
  margin-top: 40%;
  
}

.item>div>h3{
text-align: left;
}
.item>h3{
  text-align: left;  
}
.item>.btnDiv>button:hover{
  box-shadow: 2px 2px 4px 2px red;
  
}
.item:hover{
  box-shadow: 2px 2px 4px 2px red;
}
.item>.btnDiv>button{
padding: 10px;
margin: 2px;
 border:red 1px solid;

 border-radius: 20px;
}
.item>.btnDiv>form{
  width:50px;
}

.item>a{
  color: black;
  text-decoration: solid;
top: 110%;
}

/* Style for alert messages */
.alert {
  margin-top: 15px;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border-radius: 3px;
  display: none;
}


.getInForm {
  max-width: 400px;
  margin: 100px auto;
  width: 600px;
  padding: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.getInForm >form {
  display: flex;
  flex-direction: column;
}

.getInForm >label {
  text-align: left;
  margin-bottom: 8px;
  color: #333;
}

.getInForm >input {
  padding: 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.getInForm >button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.getInForm >button.login {
  background-color: #28a745;
}

.getInForm >button:hover {
  background-color: #0056b3;
}

.getInForm >h3 {
  margin-top: 10px;
  color: #dc3545;
}

.getInForm>.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.getInForm >button {
  width: 48%;
}
#info {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



#info > h4 {
  margin-left: 20px;
}

#info > h3 {
  margin-left: 10px;
}

#info > h2,
#info > h3,
#info > h4 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#info > h4:first-child,
#info > h3:first-child {
  margin-top: 0;
}

#info > h4:last-child,
#info > h3:last-child {
  margin-bottom: 0;
}
#details {
  max-width: 400px;
  width: 600px;
  margin: 50px auto;
  padding: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#details>form {
  display: flex;
  flex-direction: column;
}

#details>label {
  margin-bottom: 8px;
  color: #333;
}

#details>input {
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#details>button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#details>button:hover {
  background-color: #0056b3;
}

#details>h4 {
  margin-top: 15px;
  color: #555;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
